<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liusong.widget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ConstraintLayoutActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="constraint layout"
            android:screenOrientation="portrait" />
        <!--RecyclerView-->
        <activity
            android:name=".ui.recyclerview.RvMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rv_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recyclerview.RvListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rv_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recyclerview.RvListAllActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rv_list_all"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recyclerview.RvGridActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rv_grid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recyclerview.RvGridAllActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rv_grid_all"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recyclerview.RvDividerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/rv_item_line"
            android:screenOrientation="portrait" />
    </application>

</manifest>